html {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
    background-color: #f7f5f0;
}
header {
    display: flex;
    background-color: #00334E;
    color: white;
    font-weight: 700;
    padding: 0 1rem;
    align-items: center;
}
header a {
    transition: color 0.2s ease;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 0 2rem;
}
header img{
    transition: transform 0.2s ease;
}
article ul li, nav ol li {
    margin: 2rem 0;
}
.agrupar {
    margin: 0 3rem;
    font-size: 1.1rem;
    padding: 0.4rem;
}
section {
    width: 60%;
    float: left;
    margin-bottom: 5rem;
    min-height: 35rem;
}
aside {
    width: 15rem;
    background-color: #145374;
    color: white;
    border-radius: 10px;
    float: right;
    padding: 0.5rem 2rem;
    transition: all 0.2s ease;
    margin-top: 2rem;
}
aside:hover {
    box-shadow: 0 0.5rem 0.7rem rgb(0,0,0,0.4);
    transform: scale(1.03);
}
footer {
    clear: both;
    text-align: center;
    color: white;
    padding: 2rem;
    margin-bottom: 0;
    background-color: #495464;
}
footer a {
    transition: color 0.2s ease;
    color: white;
    text-decoration: none;
}
a {
    color: black;
}
header a:hover, footer a:hover {
    color: rgb(107, 168, 169);
}
header img:hover {
    transform:scale(1.2);
}



/* body {
    background-color: rgb(232, 250, 244);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 20px auto 40px;
}
#agrupar{
    display: block;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(29, 45, 65);
}
h2 {
    font-size: 22px;
}
a {
    color: rgb(29, 45, 65);
}
header {
    display: flex;
    min-height: 100px;
    background-color: rgb(109, 164, 226);
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}
#logo {
    display:flex;
}
#logo img {
    border-radius: 15px;
    height: 100px;
    margin-right: 10px;
}
nav a {
    font-size: 25px;
    padding-right: 10px;
    margin: 30px;
    margin-right: 60px;
    text-decoration: none;
}
nav a:hover {
    color: rgb(255, 255, 255);
}
@media (max-width:700px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
#indice {
    width: 30%;
    background-color: rgb(109, 164, 226);
    padding: 10px;
    border-radius: 10px;
}
section {
    width: 70%;
    float: left;
}
aside {
    width: 20%;
    float: right;
    background-color: rgb(109, 164, 226);
    padding: 15px;
    border-radius: 10px;
}
aside p, aside li {
    color: white;
    text-shadow: 2px 2px 2px black;
}
footer {
    padding-top: 70px;
    clear: both;
    text-align: center;
} 


colores: rgb(139, 44, 0) 

*/