body{
    background-color: rgb(64, 64, 64);
    color: aquamarine;
}

.Caja{
    background-color: black;
    padding: 20px;
    margin: 35px;
    border-style: dashed;
    border-color: rgb(40, 185, 195);
    border-width: 8px;

    border-radius: 10px;
    
}