body {
    display: block;
    width: 90%;
    color: white;
    font-family: Verdana;
    text-shadow: 2px 2px 2px black;
    font-size: 15px;
    margin: 40px auto;
    background-image: url(img/wallpaper2.jpg);
    background-repeat: repeat;
}