body {
    display: block;
    width: 90%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 3px black;
    font-size: 15px;
    margin: 40px auto;
    background-image: url(img/wallpaper2.jpg);
    background-repeat: repeat;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color:yellow;
}
#menu { /*Este es el menú en sí, se tiene que poner aparte el menú y los elementos*/
    background-color: orange;
    padding: 10px 15px 10px 15px;
    border: 10px solid orange;
    border-radius: 10px;
    border-style: outset;
}
#menu li{ /*Pendiente: Agregar los links AAAAAAAAAAAAAAAAAAAAAAAAA*/
    display: inline-block; /* Hace que los elementos estén en línea*/
    padding: 5px; 
    font: bold 20px verdana, Tahoma, sans-serif;
}
section {
    width: 65%;
    float: left;
}
.info {
    font-size: 18px;
    margin-bottom: 30px;
}
img, h5 {
    border-radius: 15px;
    margin-left: 100px;
}
aside {
    width: 25%;
    float: right;
    background-color: orange;
    border-radius: 15px;
    border: 10px solid orange;
    border-style: outset;
}
aside li {
    font-size: 20px;
}
#masblogs {
    margin-top: 60px;
}
footer {
    clear: both;
    text-align: center;
}